
ul.heroes {
  list-style-type: none;
  margin: 2em 0 2em 0;
  padding: 0;
  width: 15em;
}

ul.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  height: 3em;
  color: #888;
  background-color: #EEE;
  border-radius: 4px;
  margin: 0 0 .5em 0;
}

ul.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

ul.heroes li.selected {
  background-color: #CFD8DC;
  color: white;
}

ul.heroes li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

ul.heroes li span.badge {
  display: inline-block;
  width: 2em;
  height: 3em;
  color: white;
  line-height: 3em;
  position: relative;
  left: 0px;
  top: 0px;
  margin-right: 1em;
  text-align: center;
  background-color: #607D8B;
  border-radius: 4px 0 0 4px;
}